*{
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
body{
    font-family: Nunito, sans-serif;
    color: #707070;
    font-size: 20px;
    font-weight: 300;
}
header{
    height: 60px;
}
    #top{
        width: 900px;
        margin: auto; /* centrado */
        display: flex; /* para poner el logo y el nav uno a l aldo del otro */
        /* align-items: center; cebtrar en vertical */
    }
    header nav{
        width: 900px;
        margin: auto;
        display: flex;
        justify-content: right;
    }
        nav a{   
            text-decoration: none;
            color: #707070;
            height: 60px;
            line-height: 60px; /* centrar texto en vertical */
            /*padding-left:20px;
            padding-right: 20px;*/
            width: 110px;
            text-align: center;
        }
main{
    width: 900px;
    margin: auto;
    padding: 30px 0px; /* separacion hacia dentro */
}    
    #hero{
        height: 370px;
        display: flex;
        /*flex-wrap: wrap; /* respeta tamaños de elementos (agrandó la imagen) */
        align-content: center;
    }
    #hero img{
        /* las medidas originales para que no deforme la imagen */
        width: 369px;
        height: 300px;
    }   
    h1{
        font-size: 40px;
        font-weight: 300;
    }
    #marcas{
        height: 360px;
        display: flex;
        /*justify-content: space-between;*/
        justify-content: space-evenly;
    }
    #marcas article{
        /*background-color: #C75D55;*/
        text-align: center;
        width: 200px;
        height: 200px;
    }
    h2{
        font-size: 18px;
    }
    #marcas p{
        font-size: 16px;
        text-align: justify;
    }
    main .cliente{
        width: 830px;
        margin: 20px auto; /* vert  horiz */
        /* para poner contenido uno al lado del otro */
        display: flex; /* para poner contenido uno al lado del otro */
        height: 226px;
    }
        .cliente .logo{
            width: 280px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            height: 226px;
        }
        .cliente .txt-cliente{
            width: 550px;
            height: 226px;
           /* background-color: rgb(255, 208, 208); */
            font-size: 16px;
            text-align: justify;
        }

        #contenido-contacto{
            display: flex;
            justify-content: space-around;
        }
            .contacto{
                width: 410px;
                height: 310px;
            }
        /* formulario */
            .contacto form{
                padding: 0px 30px 0px 30px; /**separación dentro de la caja */
            }

            input, textarea{
                width: 340px;
                padding: 8px;
                margin-bottom: 15px;
                background-color: #ffc0a6;
                color: #763915;
                border: 1px solid #f57b42;
                border-radius: 5px;
                font-size: 18px;
            }
            textarea{
                height: 75px;
                resize: none;
            }
            button{
                background-color: #1d0c00;
                color: #f8b6a2;
                width: 150px;
                padding: 8px;
                border: 1px solid #2d1b11;
                border-radius: 5px;
                font-size: 18px;
            }
            button:hover{
                background-color: #3c1600;
                color: #fec83a;
            }

footer{
    width: 900px;
    margin: auto;
    height: 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
    footer nav{
        
    }
        footer nav a{
            font-size: 16px;
            margin-right: 8px;
        }
    footer #social{
        margin-right: 90px;
    }
    footer #social a{
        margin: 10px;
        text-decoration: none;
    }
        footer #social img{
            width: 32px;
            opacity: .5;
        }
        footer #social img:hover{
            opacity: 1;
        }
